<!doctype html>
<html>
<head>
  <script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <title>Home</title>
</head>
<body>
  <ul>
    <li><a href="{{ url_for('home')}}">Home Page</a></li>
    <li><a class="active" href="{{ url_for('InsertText')}}">Insert Text</a></li>
    <li style="float: right;"><a href="https://github.com/cwilbar04/cloud-run-docker-flask-app">Github</a></li>
	</ul>
  
  <br><br><br><br>

  <h1>Insert Short Text Below for Sentiment Analysis!</h1>

  <br><br><br>

  <form action="/InsertText" method = "POST">
    <p>
    <textarea id="Text_Input" name = "Text_Input" rows="6" cols="100">
      Insert text here!
      </textarea>
      </p>
      <p><input type = "submit" value = "submit" /></p>
  </form>


   <br><br><br><br>
   <p>Code developed by: Christopher Wilbar
      - Click on Github in top right for all source code</p>
  
</body>
</html>